.logo-brand {
  width: 2rem;
  height: 2rem;
}
.nav-link {
  font-size: 1.2rem;
  color: white !important;
}
.default_background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: cover;
}

.about-background {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-size: cover;
  flex-direction: column;
}
.contact-page {
  height: 100%;
}
.cart {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.log-in-item {
  padding: 0.3rem 0.5rem;
}
